@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}
.container {
  height: 100%;
  position: relative;
  .box_input {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    input {
      border: 1px solid #979797;
      border-radius: 6px;
      padding: 10px 14px;
      outline: none;
      width: 250px;
      height: 45px;
      font-family: "Raleway", sans-serif;
      &:focus {
        border-color: #7700ff;
      }
      &:focus + .label_input {
        background-color: #fff;
        top: 0;
        padding: 0 5px;
        font-size: 14px;
        color: #7700ff;
      }
    }
    .label_input {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      padding: 0 4px;
      pointer-events: none;
      background-color: #fff;
      transition: all 100ms ease;
      white-space: nowrap;
      cursor: text;
      color: #979797;
      font-size: 16px;
      &.add_toogle {
        background-color: #fff;
        top: 0;
        padding: 0 5px;
        font-size: 14px;
        color: #7700ff;
      }
    }
    .icon_input {
      position: absolute;
      top: 50%;
      right: 10px;
      cursor: pointer;
      transform: translateY(-50%);
    }
    .send {
      position: relative;
      cursor: pointer;
      background-color: #7700ff;
      border-radius: 50%;
      padding: 10px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      outline: none;
      border: 0;
      &:hover {
        background-color: #6800df;
      }
      &.disabled {
        background-color: #616161 !important;
      }
    }
  }
  .container_emojis {
    position: absolute;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 5px -2px rgb(0 0 0 / 20%), 0 7px 10px 1px rgb(0 0 0 / 14%),
      0 2px 16px 1px rgb(0 0 0 / 12%);
    top: 0;
    right: 70px;
    margin-top: 3.5rem;
    span {
      cursor: pointer;
    }
    &.open_container_emojis {
      display: grid;
    }
  }
}
